<h2>Available drones</h2>
{{#each dronesFromDB}}
    <h3>{{name}}</h3>
    <p>{{propellers}}</p>
    <p>{{maxSpeed}}</p>
    <a href="/drones/{{_id}}/edit">Update Drone Information</a>
    <form action="/drones/{{_id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
{{/each}}